
.comic-title {
    font-family: var(--main-font);
    font-size: var(--font-size-comic-title);
    color:var(--color-purple);
    text-align: center;
    margin-bottom: 20px;
}
.comic-wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid darkred;
    font-family: var(--main-font);

}

.comic__item {
    width: 50%;
    height: 500px;
    border: 3px solid var(--color-darkorange);
    position: relative;
}

.comic__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cloud-img {
    width: 100%;
}

.comic__item1 .comic__img {
    filter: grayscale(100%);
}

.comic__item2 .comic__img {
    filter: hue-rotate(30deg);
    size: 500px;
}
.comic__item3 .comic__img {
    filter: brightness(150%);
}

.comic__item4 .comic__img {
    filter: brightness(50%);
}

.comic__item5 .cloud1 {
    position: absolute;
    width: 200px;
    top: -40px;
    left: 0;
}

.comic__item5 .cloud-img1 {
    transform: scaleX(-1);
}

.comic__item5 .cloud2 {
    position: absolute;
    width: 200px;
    right: 25%;
    bottom: 10px;
}

.comic__item5 .cloud-img2 {
    transform: rotate(180deg);
    size: 500px;
}

.comic__item5 .text1 {
    position: absolute;
    top: 90px;
    right: 65px;
    font-size: 18px;

}

.comic__item5 .text2 {
    position: absolute;
    top: 75px;
    left: 60px;
    bottom: 95px;
    font-size: 20px;

}


.list-item {
    width: 100%;
    min-height: 200px;
    border: var(--color-dark) 5px solid;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: url(../img/item-fon.png) no-repeat var(--color-purple);
    background-size: cover;
    text-decoration: none;
}

.item-title {
    display: block;
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    transition: transform 0.3s ease-in-out;

}

.list-item:hover .item-title,
.list-item:focus .item-title {
    transform: scale(1.1)
}

.hide {
    display: none;
}

.cloud-img1 {
    transform: scaleX(-2);
    size: 500px;
}

.comic__item1 {
    width: -50px;
    height: -50px;
}

.comic__item2 {
    width: -300px;
    height: -300px;
}

.comic__item5 .cloud1 {
    transform: scaleX(-2) scaleY(1.5);
}

.comic__item5 .text1 {
    position: absolute;
    top: 86px;
    right: 50px;
    font-size: 10px;
    transform: scaleX(-1) 
}

@media(max-width:900px) {
    .comic__item {
        width: 100%;
    }
}

@media(max-width:600px) {
    .comic__item5 .cloud1 {
        width: 200px;
        top: 100px;
        left: 0;

    }

    .comic__item5 .cloud-img1 {
        transform: scaleX(-1) scaleY(-1);
    }

    .comic__item5 .cloud2 {
        position: absolute;
        width: 200px;
        right: 50px;
        bottom: 50px;
    }

    .comic__item5 .cloud-img2 {
        transform: rotate(180deg);
    }
    .comic__item5 .text1 {
        position: absolute;
        top: 200px;
        right: 80px;
        font-size: 18px;
    }
}
